{% include "header.html" %}

<!-- Carousel Start -->
                <div id="header-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" style="height: 410px;">
                            <img class="img-fluid" src="/static/img/header1.jpg" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">20% Off All Orders</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Code - SALE20</h3>
                                     <a href="{{ url_for('search', q='') }}" class="btn btn-light py-2 px-3">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" style="height: 410px;">
                            <img class="img-fluid" src="/static/img/header2.jpg" alt="Image">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="p-3" style="max-width: 700px;">
                                    <h4 class="text-light text-uppercase font-weight-medium mb-3">For a limited time only</h4>
                                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Free shipping</h3>
                                    <a href="{{ url_for('search', q='') }}" class="btn btn-light py-2 px-3">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-prev-icon mb-n2 z-index:-1; position:relative;"></span>
                        </div>
                    </a>
                    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                        <div class="btn btn-dark" style="width: 45px; height: 45px;">
                            <span class="carousel-control-next-icon mb-n2"></span>
                        </div>
                    </a>
                </div>
<!-- Carousel End -->

<!-- Banner Offers Start -->
    <div class="container-fluid offer pt-5" style="margin-top:40px;">
        <div class="row px-xl-5">
            <div class="col-md-6 pb-4">
                <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                    <img src="/static/img/blazer.png" alt="">
                    <div class="position-relative" style="z-index: 1;">
                        <h5 class="text-uppercase text-primary mb-3">20% off all orders</h5>
                        <h1 class="mb-4 font-weight-semi-bold">Italian blazers</h1>
                        <a href="{{ url_for('search', q='Blazers') }}" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 pb-4">
                <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
                    <img src="/static/img/jeans.png" alt="">
                    <div class="position-relative" style="z-index: 1;">
                        <h5 class="text-uppercase text-primary mb-3">Free shipping</h5>
                        <h1 class="mb-4 font-weight-semi-bold">American jeans</h1>
                        <a href="{{ url_for('search', q='Jeans') }}" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Banner Offers End -->

<!-- Just Arrived Section Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Just arrived</span></h2>
        </div>
        <div class="row px-xl-5 pb-3">
            {% for product in products %}
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4">
                              <a href="{{ url_for('view_product', product_id=product.id) }}" style="text-decoration:none">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="{{product.img_url}}" alt="">
                    </div>
                    <div class="card-body border-left border-right border-bottom text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{product.name}}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>PLN {{product.current_price}}</h6><h6 class="text-muted ml-2"><del>PLN {{product.original_price}}</del></h6>
                        </div>
                    </div>
                              </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
<!-- Just Arrived Section End -->

<!-- Newsletter Start -->
    <div class="container-fluid bg-secondary my-5">
        <div class="row justify-content-md-center py-5 px-xl-5">
            <div class="col-md-6 col-12 py-5">
                <div class="text-center mb-2 pb-2">
                    <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">Stay Updated</span></h2>
                    <p>Sign up to the newsletter now!</p>
                </div>

                <form method="post" action="{{ url_for('sign_to_newsletter') }}">

                         <div class="form-group" >
                                <input name="name" type="text" class="form-control border-0 py-2" placeholder="Your Name" required="required" style="background-color: white; border: 1px solid black;" />
                            </div>
                            <div class="form-group">
                                <input name="email" type="email" class="form-control border-0 py-2" placeholder="Your Email" style="background-color: white; border: 1px solid black;"
                                    required="required" />
                            </div>
                        <div style="margin: 0;
  position: absolute;
  padding-top: 40px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);" class="input-group-append">

                            <button class="btn btn-primary px-4">Subscribe</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Newsletter End -->

    <!-- Brands Start -->
    <div class="container-fluid py-5" style="margin-bottom:50px;">
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    <div class="vendor-item border p-4">
                        <img src="/static/img/logo1.png" width="150" height="150" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="/static/img/logo2.png" width="150" height="150" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="/static/img/logo3.png" width="150" height="150" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="/static/img/logo4.png" width="150" height="150" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                        <img src="/static/img/logo5.jpg" width="150" height="150" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                       <img src="/static/img/logo6.jpg" width="150" height="150" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                       <img src="/static/img/logo7.jpg" width="150" height="150" alt="">
                    </div>
                    <div class="vendor-item border p-4">
                          <img src="/static/img/logo8.png" width="150" height="150" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Brands End -->

{% include "footer.html" %}