

{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}


    <!-- Header Start -->
     <div class="container-fluid bg-secondary">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
             <h1 class="font-weight-semi-bold text-uppercase mb-3" style="margin-top:13px;">Log in</h1>
        </div>
        </div>
    <!-- Header End -->

<!-- Login Form Start -->
           <div class="col-lg-3 col-md-5 mx-auto text-center" style="margin-top:40px;">
               {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul style="list-style-type: none; margin: 0 0 15px 0; padding: 0; color:#c17a74;" class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
               <div style="margin:10px 0 40px 0; ">
    <a href="{{ url_for('restore_password') }}" style="text-decoration:none;">Forgot password?</a>
        </div>
    </div>
<!-- Login Form End -->

{% include "footer.html" %}