{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<!-- Header Start -->
<div class="container-fluid bg-secondary">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3" style="margin-top:13px;">Restore your password</h1>
    </div>
</div>
<!-- Header End -->

<!-- Message To The User -->
{% if message != None %}
<p class="text-center" style="margin-top:40px; color:#c17a74;">{{message}}</p>
{% endif %}

<!-- Password Restore Form -->
<div class="col-lg-3 col-md-5 mx-auto text-center" style="margin:40px 0 40px 0;">
    {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
</div>

{% include "footer.html" %}
