{% import "bootstrap/wtf.html" as wtf %}

{% include "header.html" %}

    <!-- Header Start -->
    <div class="container-fluid bg-secondary">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100px">
             <h1 class="font-weight-semi-bold text-uppercase mb-3" style="margin-top:13px;">Register</h1>
        </div>
        </div>
    <!-- Header End -->

    <!-- Register Form Start -->
           <div class="col-lg-3 col-md-5 mx-auto text-center" style="margin:40px 0 40px 0;">
            {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
    </div>
    <!-- Register Form End -->

 {% include "footer.html" %}
